@import "~nav-frontend-core/less/_variabler";

.refusjonside {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2.5rem 5%;
  }

  &__tilbake {
    display: flex;
    align-content: flex-start;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 3px;

    &:hover {
      box-shadow: 0 0.9px 1.7px rgba(0, 0, 0, 0.032),
        0 3.1px 5.8px rgba(0, 0, 0, 0.06), 0 14px 26px rgba(0, 0, 0, 0.13);

      .refusjonside__chevron {
        cursor: pointer;
        transform: scale(1.2) translateX(-0.5rem);
      }
    }
  }

  &__chevron {
    position: relative;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.1s;
  }

  &__container {
    padding: 1.75rem 1rem;
    border-radius: 3px;
    background-color: white;

    display: flex;
    align-items: initial;
  }
}
